:root {
  --c-gray: gray;
  --c-blue: rgb(0, 136, 255);
  --c-orange: #fc9e0e;
  --c-green: #0fa659;
  --c-red: rgb(255, 30, 0);
  --c-light-blue: #c9e2ff;
  --c-light-oragne: #ffebca;
  --c-light-green: #d0efdd;
  --c-light-red: #ffd0c8;
}

img {
  width: 2rem;
  height: fit-content;
}

body {
  text-transform: capitalize;
  font-family: sans-serif;
}

/* start styling the aside bar */
aside {
  position: fixed;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 0 15px #ddd;
  z-index: 1;
}

aside h1 {
  width: fit-content;
  margin: 0 auto 1rem;
  padding-bottom: 1rem;
  position: relative;
}

aside h1::before {
  content: "";
  width: 120%;
  height: 3px;
  position: absolute;
  left: -10%;
  bottom: 0;
  background-color: #000;
}

aside h1::after {
  content: "";
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -4.5px;
  background-color: #000;
}

aside ul li {
  padding: 5px 5px 6px;
  border-radius: 5px;
}

aside ul li:hover {
  transition: 0.2s;
  cursor: pointer;
}

aside ul li:hover,
li.active {
  background-color: #eee;
}

aside ul li i {
  width: 20px;
  text-align: center;
  margin-right: 5px;
}

aside ul li p {
  display: inline;
  font-weight: 500;
}

@media (max-width: 767px) {
  aside {
    transition: 0.2s;
    width: 100px;
  }
  aside h1::before,
  aside h1::after {
    transition: 0.2s;
    display: none;
  }
  aside ul li {
    transition: 0.2s;
    text-align: center;
  }
  aside ul li p {
    transition: 0.2s;
    display: none;
  }
}
/* finished from the aside bar */
/* start styling the content section */
.content {
  width: calc(100% - 200px);
  position: absolute;
  right: 0;
}

@media (max-width: 767px) {
  .content {
    width: calc(100% - 100px);
    transition: 0.2s;
  }
}

.content .top {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.top .search {
  position: relative;
}

.top .search i {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--c-gray);
}

.top .search input {
  padding: 5px 25px;
  border-radius: 10px;
  border: 1px solid var(--c-gray);
  outline: none;
}

.top .fa-bell {
  margin-left: auto;
  font-size: 20px;
  position: relative;
}

.top .fa-bell::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.dashboard {
  background-color: #f0f4f9;
  padding: 1rem;
}

.dashboard > h1 {
  position: relative;
  width: fit-content;
  padding-bottom: 0.5rem;
}

.dashboard > h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25%;
  height: 2.5px;
  background-color: #000;
  z-index: 1;
}

.dashboard > h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 70%;
  height: 2.5px;
  background-color: #fff;
}

.dashboard .dashboard-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 0.5rem;
}

.dashboard .dashboard-items > * {
  background-color: #fff;
  min-height: 270px;
}

.dashboard-items > div:first-child {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dashboard-items > div:first-child::after {
  content: "";
  background-image: url(../imgs/avatar.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 2rem;
  height: 2rem;
  border: 2px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}

.dashboard-items > div:not(:first-child) {
  padding: 0.5rem;
}

.dashboard-items > div:not(:first-child) > *:first-child {
  margin-bottom: 0.5rem;
}

.dashboard-items > div:not(:first-child) > div:first-child p {
  color: var(--c-gray);
}
/* start editing the first child */
.dashboard-items > div:first-child .welc-div {
  flex-basis: 50%;
  background-color: #eee;
  padding: 0.5rem;
  position: relative;
}

.dashboard-items > div:first-child .welc-div p {
  color: var(--c-gray);
  font-weight: 500;
}

.dashboard-items > div:first-child .welc-div::after {
  content: "";
  background-image: url(../imgs/welcome.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  width: 160px;
  height: 90px;
}

.dashboard-items > div:first-child .info {
  flex-basis: 50%;
  display: flex;
  align-items: center;
}

.dashboard-items > div:first-child .info div {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 5px 0;
  border: 1px solid;
  border-color: #eee transparent;
}

.dashboard-items > div:first-child .info div p {
  width: calc(100% / 3);
  text-align: center;
  font-weight: 500;
}

.dashboard-items > div:first-child .info div p span {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: var(--c-gray);
}

.dashboard-items > div:first-child .info a {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  padding: 2px 5px;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: var(--c-blue);
}
/* first child is completed */

/* start editing the second child */
.dashboard-items > div:nth-child(2) {
  display: flex;
  flex-direction: column;
}

.dashboard-items > div:nth-child(2) input,
.dashboard-items > div:nth-child(2) textarea {
  background-color: #eee;
  font-weight: 500;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  outline: none;
}

.dashboard-items > div:nth-child(2) textarea {
  margin: 0.5rem 0;
  resize: none;
  height: 100%;
}

.dashboard-items > div:nth-child(2) a {
  width: fit-content;
  margin-left: auto;
  padding: 2px 5px;
  color: #fff;
  border-radius: 5px;
  font-size: 14px;
  letter-spacing: 1px;
  background-color: var(--c-blue);
}
/* second child is completed */
/* start styling the third child */
.dashboard-items > div:nth-child(3) > div:not(:first-child) {
  display: flex;
  gap: 0.5rem;
}

.dashboard-items > div:nth-child(3) > div:not(:first-child, :last-child) {
  margin-bottom: 0.5rem;
}

.dashboard-items > div:nth-child(3) > div:not(:first-child) > div:first-child {
  width: 4rem;
  height: 4rem;
  display: grid;
  place-content: center;
}

.dashboard-items > div:nth-child(3) > div:not(:first-child) > div:nth-child(2) {
  flex-basis: calc(100% - 4.5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dashboard-items
  > div:nth-child(3)
  > div:not(:first-child)
  > div:nth-child(2)
  p {
  color: var(--c-gray);
}

.dashboard-items > div:nth-child(3) .progress {
  width: 100%;
  height: 4px;
}

.dashboard-items > div:nth-child(3) .progress span {
  position: relative;
}

.dashboard-items > div:nth-child(3) .progress span::before {
  position: absolute;
  top: -30px;
  right: -15px;
  width: 35px;
  height: 20px;
  border-radius: 5px;
  color: #fff;
  display: grid;
  place-content: center;
  font-size: 14px;
}

.dashboard-items > div:nth-child(3) .progress span::after {
  border: 5px solid;
  position: absolute;
  top: -10px;
  right: -4px;
}

.dashboard-items > div:nth-child(3) .money > div:first-child {
  background-color: var(--c-light-blue);
  color: var(--c-blue);
}

.dashboard-items > div:nth-child(3) .money .progress {
  background-color: var(--c-light-blue);
  position: relative;
}

.dashboard-items > div:nth-child(3) .money .progress span {
  content: "";
  position: absolute;
  left: 0;
  width: 40%;
  height: 100%;
  background-color: var(--c-blue);
}

.dashboard-items > div:nth-child(3) .money .progress span::before {
  content: attr(data-prog);
  background-color: var(--c-blue);
}
.dashboard-items > div:nth-child(3) .money .progress span::after {
  content: "";
  border-color: var(--c-blue) transparent transparent;
}

.dashboard-items > div:nth-child(3) .projects > div:first-child {
  background-color: var(--c-light-oragne);
  color: var(--c-orange);
}

.dashboard-items > div:nth-child(3) .projects .progress {
  background-color: var(--c-light-oragne);
  position: relative;
}

.dashboard-items > div:nth-child(3) .projects .progress span {
  content: "";
  position: absolute;
  left: 0;
  width: 55%;
  height: 100%;
  background-color: var(--c-orange);
}

.dashboard-items > div:nth-child(3) .projects .progress span::before {
  content: attr(data-prog);
  background-color: var(--c-orange);
}
.dashboard-items > div:nth-child(3) .projects .progress span::after {
  content: "";
  border-color: var(--c-orange) transparent transparent;
}

.dashboard-items > div:nth-child(3) .team > div:first-child {
  background-color: var(--c-light-green);
  color: var(--c-green);
}

.dashboard-items > div:nth-child(3) .team .progress {
  background-color: var(--c-light-green);
  position: relative;
}

.dashboard-items > div:nth-child(3) .team .progress span {
  content: "";
  position: absolute;
  left: 0;
  width: 75%;
  height: 100%;
  background-color: var(--c-green);
}

.dashboard-items > div:nth-child(3) .team .progress span::before {
  content: attr(data-prog);
  background-color: var(--c-green);
}
.dashboard-items > div:nth-child(3) .team .progress span::after {
  content: "";
  border-color: var(--c-green) transparent transparent;
}
/* third child is completed */
/* start styling the fourth child */
.dashboard-items > div:nth-child(4) .tickets-info {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  grid-template-rows: repeat(2, minmax(100px, 1fr));
  gap: 0.5rem;
}

.dashboard-items > div:nth-child(4) .tickets-info > div {
  display: grid;
  place-content: center;
  gap: 5px;
  text-align: center;
  border: 2px solid #eee;
  border-radius: 5px;
}

.dashboard-items > div:nth-child(4) .tickets-info > div i {
  margin-bottom: 5px;
}

.dashboard-items > div:nth-child(4) .tickets-info > div:first-child i {
  color: var(--c-orange);
}

.dashboard-items > div:nth-child(4) .tickets-info > div:nth-child(2) i {
  color: var(--c-blue);
}

.dashboard-items > div:nth-child(4) .tickets-info > div:nth-child(3) i {
  color: var(--c-green);
}

.dashboard-items > div:nth-child(4) .tickets-info > div:nth-child(4) i {
  color: var(--c-red);
}

.dashboard-items > div:nth-child(4) .tickets-info > div p {
  color: var(--c-gray);
}
/* fourth child is completed */
/* start styling the fifth child */
.dashboard-items > div:nth-child(5) > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.5rem;
}

.dashboard-items > div:nth-child(5) > div:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.dashboard-items > div:nth-child(5) > div img {
  width: 6rem;
  border-radius: 0.5rem;
}
.dashboard-items > div:nth-child(5) > div div p {
  color: var(--c-gray);
}

.dashboard-items > div:nth-child(5) > div > p {
  background-color: #eee;
  color: var(--c-gray);
  margin-left: auto;
  font-weight: 600;
  font-size: 14px;
  padding: 4px 6px;
  border-radius: 0.5rem;
}
/* fifth child is completed */
/* start styling the sixth child */
.dashboard-items > div:nth-child(6) .task {
  display: flex;
  justify-content: space-between;
  padding-block: 0.5rem;
  align-items: center;
}

.dashboard-items > div:nth-child(6) .task.done {
  opacity: 50%;
}

.dashboard-items > div:nth-child(6) .task:not(:last-child) {
  border-bottom: 1px solid #eee;
}
/* sixth child is completed */
/* start styling the seventh child */
.dashboard-items > div:nth-child(7) .table div {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard-items > div:nth-child(7) .table div:first-child {
  color: var(--c-gray);
}

.dashboard-items
  > div:nth-child(7)
  .table
  div:not(:first-child)
  p:nth-child(2) {
  padding: 3px 6px;
  background-color: #eee;
  border-radius: 0.5rem;
}

.dashboard-items > div:nth-child(8) > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-block: 0.5rem;
}

.dashboard-items > div:nth-child(8) > div:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.dashboard-items > div:nth-child(8) > div p:last-of-type {
  margin-left: auto;
  padding: 3px 6px;
  background-color: #eee;
  border-radius: 0.5rem;
}

.dashboard-items > div:nth-child(8) > div p span {
  display: block;
  color: var(--c-gray);
}

/* 9 */
.dashboard-items > div:nth-child(9)::after {
  content: url(../imgs);
}

.dashboard-items > div:nth-child(9) ul li {
  position: relative;
  padding-left: 2rem;
  padding-block: 0.5rem;
}

.dashboard-items > div:nth-child(9) ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--c-blue);
  border-radius: 50%;
}

.dashboard-items > div:nth-child(9) ul li:not(:last-child):after {
  content: "";
  position: absolute;
  left: 0.5rem;
  top: 1.7rem;
  width: 0.2rem;
  height: 1rem;
  background-color: var(--c-blue);
}

.dashboard-items > div:nth-child(9) ul li span {
  position: absolute;
  left: 2px;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--c-blue);
}

/* 10 */
.dashboard-items > div:nth-child(10) > div {
  margin: 0.5rem 0 0.5rem 1.5rem;
  padding-left: 0.5rem;
  border-left: 2px solid;
  position: relative;
}
.dashboard-items > div:nth-child(10) > div::before {
  content: "";
  position: absolute;
  left: -1.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

.dashboard-items > div:nth-child(10) > div:nth-of-type(1)::before {
  background-color: var(--c-blue);
}
.dashboard-items > div:nth-child(10) > div:nth-of-type(1) {
  border-color: var(--c-blue);
}

.dashboard-items > div:nth-child(10) > div:nth-of-type(2)::before {
  background-color: var(--c-green);
}
.dashboard-items > div:nth-child(10) > div:nth-of-type(2) {
  border-color: var(--c-green);
}

.dashboard-items > div:nth-child(10) > div:nth-of-type(3)::before {
  background-color: var(--c-orange);
}
.dashboard-items > div:nth-child(10) > div:nth-of-type(3) {
  border-color: var(--c-orange);
}

.dashboard-items > div:nth-child(10) > div:nth-of-type(4)::before {
  background-color: var(--c-red);
}
.dashboard-items > div:nth-child(10) > div:nth-of-type(4) {
  border-color: var(--c-red);
}

/* 11 */
.dashboard-items > div:nth-child(11) > div {
  display: flex;
  gap: 0.5rem;
  color: var(--c-gray);
  align-items: center;
  padding: 1rem 0;
}

.dashboard-items > div:nth-child(11) > div h4 {
  color: #000;
}

.dashboard-items > div:nth-child(11) > p {
  padding: 0.5rem 0;
  border-block: 1px solid var(--c-gray);
}

.dashboard-items > div:nth-child(11) > div:last-of-type {
  justify-content: space-between;
}

/* 12 */

.dashboard-items > div:nth-child(12) > div {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: var(--c-light-blue);
  margin: 0.5rem 0;
  /* padding: 5px; */
}

.dashboard-items > div:nth-child(12) > div i {
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  color: #fff;
  transition: 0.2s;
}

.dashboard-items > div:nth-child(12) > div i:hover {
  rotate: 10deg;
  scale: 1.1;
}

.dashboard-items > div:nth-child(12) > div a {
  margin: 0 5px 0 auto;
  padding: 2px 6px 3px;
  color: #fff;
  font-size: 14px;
}

.dashboard-items > div:nth-child(12) > div:nth-of-type(1) {
  background-color: #ceeafc;
}

.dashboard-items > div:nth-child(12) > div:nth-of-type(1) i {
  background-color: #0890ef;
}

.dashboard-items > div:nth-child(12) > div:nth-of-type(1) p {
  color: #0890ef;
}

.dashboard-items > div:nth-child(12) > div:nth-of-type(1) a {
  background-color: #00aaff;
}

.dashboard-items > div:nth-child(12) > div:nth-of-type(2) {
  background-color: #d0e2fa;
}
.dashboard-items > div:nth-child(12) > div:nth-of-type(2) i {
  background-color: var(--c-blue);
}
.dashboard-items > div:nth-child(12) > div:nth-of-type(2) p {
  color: var(--c-blue);
}
.dashboard-items > div:nth-child(12) > div:nth-of-type(2) a {
  background-color: var(--c-blue);
}

.dashboard-items > div:nth-child(12) > div:nth-of-type(3) {
  background-color: var(--c-light-red);
}
.dashboard-items > div:nth-child(12) > div:nth-of-type(3) i {
  background-color: var(--c-red);
}
.dashboard-items > div:nth-child(12) > div:nth-of-type(3) p {
  color: var(--c-red);
}
.dashboard-items > div:nth-child(12) > div:nth-of-type(3) a {
  background-color: var(--c-red);
}

.dashboard-items > div:nth-child(12) > div:nth-of-type(4) {
  background-color: #cbe3f1;
}
.dashboard-items > div:nth-child(12) > div:nth-of-type(4) i {
  background-color: #0072bc;
}
.dashboard-items > div:nth-child(12) > div:nth-of-type(4) p {
  color: #0072bc;
}
.dashboard-items > div:nth-child(12) > div:nth-of-type(4) a {
  background-color: #0072bc;
}

/* 13 */
.dashboard-items > div:nth-child(13) {
  grid-column: span 2;
  overflow-x: auto;
}

@media (min-width: 1104px) {
  .dashboard-items > div:nth-child(13) {
    grid-column: span 3;
  }
}

.dashboard-items > div:nth-child(13) table {
  width: 100%;
}

table,
td {
  border: 1px solid #eee;
  border-collapse: collapse;
}

table thead {
  font-weight: 600;
  background-color: #eee;
}

td {
  padding: 0.5rem;
}
td div {
  display: flex;
}

td div img {
  border-radius: 50%;
}

td div img:not(:first-child) {
  margin-left: -15px;
}
td div img:hover {
  z-index: 1;
}
td a {
  padding: 3px 6px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
}

.pen {
  background-color: var(--c-orange);
}

.inp {
  background-color: var(--c-blue);
}

.com {
  background-color: var(--c-green);
}

.rej {
  background-color: var(--c-red);
}
